.timeline {
    position: relative;
    margin: 80px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 18px;
    /* Adjusted to align with the time frame */
    width: 2px;
    height: 100%;
    background: #ccc;
    z-index: 1;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 28px;
    /* Adjusted to align with the time frame */
    text-align: left;

}

.timeline-item:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 11px;
    /* Adjusted to align with the time frame */
    width: 16px;
    height: 16px;
    background: #007bff;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.3s, transform 0.3s;
}

.timeline-item:hover:before {
    background: #0056b3;
    transform: scale(1.2);
    cursor: pointer;
}

.timeline-item span {
    display: block;
    margin-top: -5px;
    position: relative;
    z-index: 3;
}

.modal-body img {
    width: 100%;
}

.time-frame {
    /* background-color: rgba(255, 255, 25, 0.3); */
    position: relative;
    text-align: left;
    margin: 40px 0;
    padding: 0;
    list-style: none;
}

.time-frame li {
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px;
    display: block;
}

.time-frame li span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.time-frame-line {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 2px;
    z-index: 0;
}

.time-frame-line.initial {
    background: #ff5733;
    /* Orange */
    height: 50px;
    /* Adjust as needed */
}

.time-frame-line.refinement {
    background: #33ff57;
    /* Green */
    height: 200px;
    /* Adjust as needed */
}

.time-frame-line.development {
    background: #3357ff;
    /* Blue */
    height: 100px;
    /* Adjust as needed */
}