.timeline-table {
    width: 100%;
    border-collapse: collapse;
}

.time-frame-cell {
    width: 150px;
    vertical-align: top;
    text-align: center;
    /* padding-top: 20px; */
}

.time-frame-title {
    /* display: block; */
    margin-bottom: 5px;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* border-left: 5px solid red; */
    /* direction: ltr; */
    float: right;
}

/* .time-frame-line {
    position: relative;
    width: 2px;
    margin: 0 auto;
    z-index: 0;
} */

.time-frame-title.initial {
    border-left: 5px solid #ff5733;
    /* Orange */
    height: 50px;
    /* Adjust as needed */
}

.time-frame-title.refinement {
    border-left: 5px solid #33ff57;
    /* Green */
    height: 240px;
    /* Adjust as needed */
}

.time-frame-title.development {
    border-left: 5px solid #3357ff;
    /* Blue */
    height: 170px;
    /* Adjust as needed */
}

.timeline-item {
    position: relative;
    /* margin-bottom: 20px; */
    padding-left: 40px;
    text-align: left;
    /* border-left: 3px solid black; */
    cursor: pointer;

    transition: font-weight 0.3s, transform 0.3s;

}

.timeline-item:hover {
    font-weight: bold;
}

/* .timeline-item:before {
    height: 100%;
    width: 3px;
    background-color: black;
    display: block;
    position: relative;
} */

.timeline-item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 11px;
    width: 16px;
    height: 16px;
    background: orange;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.3s, transform 0.3s;
}

/* .timeline-item:after {
    height: 100%;
    width: 3px;
    background-color: red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
} */

.timeline-item:hover:before {
    background: #0056b3;
    transform: scale(1.2);
    cursor: pointer;
}

.timeline-item span {
    display: block;
    margin-top: -5px;
    position: relative;
    z-index: 3;
}

.modal-body img {
    width: 100%;
}